
.b
    border: $border-width solid
.bx
    border-left: $border-width solid
    border-right: $border-width solid
.by
    border-top: $border-width solid
    border-bottom: $border-width solid
.bl
    border-left: $border-width solid
.br
    border-right: $border-width solid
.bt
    border-top: $border-width solid
.bb
    border-top: $border-width solid

.r
    border-radius: $border-radius
.rt
    border-radius: $border-radius $border-radius 0 0
.rb
    border-radius: 0 0 $border-radius $border-radius
.rl
    border-radius: $border-radius 0 0 $border-radius
.rr
    border-radius: 0 $border-radius $border-radius 0 
