@charset "utf-8"

@import globals/defaults
@import globals/minireset
@import globals/colors

@import utilities/typography
@import utilities/spacing
@import utilities/tables
@import utilities/borders
@import utilities/layout
@import utilities/code
@import utilities/utility-export

@import generic-components/menu

@include typography('')
@include paddings-and-margins('')
@include layout('')

// set root rem
$slope: ($text-size-upper-bound-px - $text-size-lower-bound-px) / ($rem-grow-end-px - $rem-grow-start-px)

html
    font-size: #{$text-size-lower-bound-px}px

@media (min-width: #{$rem-grow-start-px}px)
    html
        font-size: calc(#{$slope} * 100vw + #{$text-size-lower-bound-px}px - #{$slope * $rem-grow-start-px}px)

@media (min-width: #{$rem-grow-end-px}px)
    html
        font-size: #{$text-size-upper-bound-px}px

@media (min-width: $phone2tablet)
    @include paddings-and-margins('md\\:')
    @include layout('md\\:')
@media (min-width: $tablet2laptop)
    @include paddings-and-margins('lg\\:')
    @include layout('lg\\:')
@media (min-width: $laptop2desktop)
    @include paddings-and-margins('xl\:')
    @include layout('xl\\:')
