=layout($class)
    .#{$class}fixed
        position: fixed

    .#{$class}flex
        display: flex

    .#{$class}flex-wrap
        flex-wrap: wrap

    .#{$class}flex-wrap-reverse
        flex-wrap: wrap-reverse

    .#{$class}flex-start
        justify-content: flex-start
        align-items: flex-start
    .#{$class}flex-start-x
        justify-content: flex-start
    .#{$class}flex-start-y
        align-items: flex-start

    .#{$class}flex-end
        justify-content: flex-end
        align-items: flex-end
    .#{$class}flex-end-x
        justify-content: flex-end
    .#{$class}flex-end-y
        align-items: flex-end


    .#{$class}center
        justify-content: center
        align-items: center
    .#{$class}center-x
        justify-content: center
    .#{$class}center-y
        align-items: center


    .#{$class}space-between
        justify-content: space-between
    .#{$class}space-around
        justify-content: space-around
    .#{$class}space-evenly
        justify-content: space-evenly

    .#{$class}baseline
        align-items: baseline
    .#{$class}stretch
        align-items: stretch

    // widths
    .#{$class}w\=full
        width: 100%

    .#{$class}w\=site
        max-width: $site-width
        margin-left: auto
        margin-right: auto

    .#{$class}w\=viewport
        width: 100vw
        margin-left: 50%
        transform: translateX(-50%)

    // widths
    @for $denom from 2 through 12
        .w\=1\/#{ $denom }
            width: 100% / $denom

    @for $order from 1 to 9
        .ordir\=#{ $order }
            order: $order
