
.fixed
    position: fixed

.flex
    display: flex

.flex-wrap
    flex-wrap: wrap

.flex-wrap-reverse
    flex-wrap: wrap-reverse


.flex-start
    justify-content: flex-start

.flex-end
    justify-content: flex-end

.center
    justify-content: center

.space-between
    justify-content: space-between

.space-around
    justify-content: space-around

.space-evenly
    justify-content: space-evenly

// widths
.w\=full
    width: 100%

.w\=site
    max-width: $site-width
    margin-left: auto
    margin-right: auto

.w\=viewport
    width: 100vw
    margin-left: 50%
    transform: translateX(-50%)


// widths
@for $denom from 2 through 12
    .w\=1\/#{ $denom }
        width: 100% / $denom

