@import 'modularscale-sass/stylesheets/modularscale'

$type-ratio: 1.067 !default
$type-base: 20 !default
$modularscale: ( base: px-to-rem($type-base), ratio: $type-ratio )

$text-sizes: '-s' -1, '' 0, '-l' 1 !default
$cascade-limit: 12 !default
$head-nodes: 12, 8, 6, 4, 2, 1 !default

$head-sizes: ()
@for $size from 1 through $cascade-limit
  @if index($head-nodes, $size)
    $node: 'h' + index($head-nodes, $size)
    $head-sizes: append($head-sizes, $size $size $node)
  @else
    $head-sizes: append($head-sizes, $size $size)

body
    font-family: $text-font
    font-size: ms(0)
    line-height: line-height(0)

// type scale follows the formula 1 + (0.25 * n * (n-1) / 2 )

.bold
    font-weight: bold

.vertical-rythm
    background: linear-gradient( to bottom, #fff, #fff 50%, #FF696950 50%, #FF696950)
    background-size: 100% $unit

@function line-height($value)
    @return ceil(ms($value) / ($unit / 2)) * ($unit / 2)


=typography($class)
  @each $name, $size in $text-sizes
    .#{$class}text#{$name}
        font-family: $text-font
        font-size: ms($size)
        line-height: line-height($size)

  @each $name, $size, $node in $head-sizes
    .#{$class}head-#{$name},
    #{$node}
        font-family: $head-font
        font-size: ms($size)
        line-height: line-height($size)

// text alignment and whitespace behaviour
=text-layout($class)
  .#{$class}text-align\=c
    text-align: center
  .#{$class}text-align\=l
    text-align: left
  .#{$class}text-align\=r
    text-align: right

  .#{$class}text-wrap\=inital
    white-space: initial
  .#{$class}text-wrap\=nowrap
    white-space: nowrap

  .#{$class}text-overflow\=initial
    text-overflow: initial
  .#{$class}text-overflow\=clip
    overflow: hidden
    text-overflow: clip
  .#{$class}text-overflow\=\.\.\.
    overflow: hidden
    text-overflow: ellipsis

p
  max-width: $paragraph-length