@import 'modularscale-sass/stylesheets/modularscale'

$typescale: ( base: 1rem, ratio: 1.2) !default
$modularscale: $typescale

body
    font-family: $text-font
    font-size: $text-base-fontsize
    line-height: 2 * $unit

// type scale follows the formula 1 + (0.25 * n * (n-1) / 2 )

.bold
    font-weight: bold

// analogigal to https://gist.github.com/aslakhellesoy/1134482
@function line-height($value)
  @if ($value >= 0)
    @return (($value + ($unit / 2) - 1) / ($unit / 2)) * ($unit / 2)
  @else
    @return ($value / ($unit / 2)) * ($unit / 2)

=typography($class)
    .#{$class}text
        font-family: $text-font
        font-size: $text-base-fontsize
        line-height: 2 * $unit

    .#{$class}text-s
        font: $text-font
        line-height: 2 * $unit * 0.75
        font-size: $text-base-fontsize * 0.75

    .#{$class}head,
    h4,
    h5,
    h6
        font: $head-font
        font-size: ms(1)
        line-height: line-height(ms(1) * $head-leading)

    .#{$class}head-l,
    h3
        font: $head-font
        font-size: ms(2)
        line-height: line-height(ms(2) * $head-leading)

    .#{$class}head-xl,
    h2
        font: $head-font
        font-size: ms(3)
        line-height: line-height(ms(3) * $head-leading)

    .#{$class}head-xxl,
    .#{$class}head-2xl
        font: $head-font
        font-size: ms(4)
        line-height: line-height(ms(4) * $head-leading)
        
    .#{$class}head-3xl,
    h1
        font: $head-font
        font-size: ms(5)
        line-height: line-height(ms(5) * $head-leading)

    .#{$class}head-4xl
        font: $head-font
        font-size: ms(6)
        line-height: line-height(ms(6) * $head-leading)


// text alignment and whitespace behaviour
=text-layout($class)
  .#{$class}text-align\=c
    text-align: center
  .#{$class}text-align\=l
    text-align: left
  .#{$class}text-align\=r
    text-align: right

  .#{$class}text-wrap\=inital
    white-space: initial
  .#{$class}text-wrap\=nowrap
    white-space: nowrap

  .#{$class}text-overflow\=initial
    text-overflow: initial
  .#{$class}text-overflow\=clip
    overflow: hidden
    text-overflow: clip
  .#{$class}text-overflow\=\.\.\.
    overflow: hidden
    text-overflow: ellipsis
