$burger-color: #000 !default
$burger-color-active: #000 !default

$stroke-width: px-to-rem(2) !default
$stroke-spacing: .5 * $unit !default
$burger-width: 2 * $hunit !default
$burger-padding: $unit $hunit !default
$transition-time: .3s !default
$toggle-button-margin: px-to-rem(3) !default

.menu-toggle
  position: fixed
  padding: $burger-padding
  cursor: pointer
  border: 0
  background: transparent
  z-index: 1000

  @media (min-width: $tablet2laptop)
    display: none

  &--right
    right: 0
  &--left
    left: 0
  &--top
    top: 0
  &--bottom
    bottom: 0

  &:hover &__burger
    &:after
      transform: translateY(50%)
    &:before
      transform: translateY(-50%)

  &__burger
    width: $burger-width
    height: $stroke-width
    margin: #{$toggle-button-margin + $stroke-spacing} 0
    background: $burger-color
    transition: all linear $transition-time
    position: relative
    display: block

    &:before, &:after
      content: ''
      display: block
      width: $burger-width
      height: $stroke-width
      position: absolute
      z-index: -1
      transition: all linear $transition-time
    &:before
      background: $burger-color
      top: -$stroke-spacing
    &:after
      background: $burger-color
      top: $stroke-spacing

  &--active &__burger
    background: transparent
    &:before,
    &:after
      background: $burger-color-active
    &:before
      top: 0
      transform: rotate(-45deg)
    &:after
      top: 0
      transform: rotate(45deg)
